{% extends "base.html" %}

{% load static %}

{% block title %}Importar PDF{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" class="form-cuadrado">
        <h3>Importar PDF</h3>
        {% csrf_token %}
        <label for="formFileMultiple" class="form-label">Selecciona los PDF que quieres importar</label>
        <input class="form-control" type="file" name="pdf_files" id="formFileMultiple"  multiple>
        <button type="submit" class="btn-form">Importar</button>
    </form>
{% endblock %}
